<div id="downloads">
  <h3>Download files</h3>
  <p>
    You need to download some files to follow the lessons in this workshop.
  </p>
  <ol>
    <li>
      Download <a href="https://swcarpentry.github.io/shell-novice/data/shell-lesson-data.zip">shell-lesson-data.zip</a>
      and move the file to your Desktop.
    </li>
    <li>
      Unzip/extract the files.
      <strong>Let your instructor know if you need help with this step</strong>.
      You should end up with a new folder called
      <code class="language-plaintext highlighter-rouge">shell-lesson-data</code>
      on your Desktop.
    </li>
    <li>
      Download <a href="http://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip">python-novice-gapminder-data.zip</a>
      and unzip/extract the files somewhere memorable (such as in a
      <code class="language-plaintext highlighter-rouge">python-lesson-data</code>
      folder on your Desktop).
      Keep the data files in the <code class="language-plaintext highlighter-rouge">data</code> folder.
    </li>
  </ol>
</div>
